server {
    listen 80;
    server_name my_apigw.com;

    --- Da vedere
    location / {
        root /usr/share/nginx/html; # root directive is placed in the server context.
        index index.html index.htm;
        try_files $uri $uri/ /index.html;
    }

    location /users {
        proxy_pass http://user-manager:5003/;
    }

    location /data {
        proxy_pass http://data-collector:5002/;
    }
}